
*{
    font-family: arial;
}

body {
	width: 100%;
	margin: 0px;
}

h1{
	margin: 12px;
}

/* HEADER */
.header {
    
    position: relative;
    height: 110px;
    width: 100%;
    text-align: center;
	vertical-align: top;
	margin: 0;
    white-space: nowrap;
}

.header-block {
	display:inline-block;
	vertical-align: top;
	
	margin: 0;
	white-space: normal;
}

.header-top {
	border: groove;
}

.header-bottom {
	text-align: right;
    padding-right: 5px;
    padding-top: 4px;
}

/* BODY */

.container {
    
    position: absolute;
    height: calc(100% - 135px);
    width: 100%;
    white-space: nowrap;
	background: url('folders.png')  top center fixed no-repeat	;
	margin: 0px;
}

.container-left {
 	width:20%;
    height: 100%;
    display: inline-block;
	border: groove;
	padding: 0px;
	float: left;
	white-space: normal;
	vertical-align: top;
	margin: 0px;
}
.container-left-data{
	padding: 5px;
}

.container-middle {
 	width:60%;
    height: 100%;
	border-top:  groove;
	border-bottom:  groove;
	float: left;
	white-space: normal;
    display: inline-block;
	vertical-align: top;
    background-color: rgb(246, 249, 253);
	margin: 0px;
	padding: 0px;
}

.container-middle-form {
	border: groove;
	margin: 5px;
	padding: 5px;
	vertical-align: top;
}

.conatiner-middle-form-field {
	padding-bottom: 4px;
	
}

.container-middle-form span {
	display: inline-block;
	width: 90px;
	text-align: right;
	margin: 1px;
}

table{
	width: -webkit-fill-available;
	padding: 2px;
}
.table-titles {
    text-align: center;
    font-size: smaller;
    cursor: pointer;
}
.table-titles td {
	border-top: 2px solid rgb(165, 163, 163);
}
td {
    border-bottom: 2px solid rgb(165, 163, 163);
}
a{
	color: blue;
}
.container-middle-box{
	border: groove;
	margin: 5px;
	padding: 5px;
}
.container-middle-box input {
	margin: 2px;
    
}

.container-right {
 	width:19.1%;
    height: 100%;
    display: inline-block;
	border: groove;
	padding: 0px;

	white-space: normal;
	vertical-align: top;
	margin: 0px;
}
.container-right-data{
	padding: 5px;
}

.footer {
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
}